<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <th> <%= f.label :text %></td>
    <th> "Previous question number"</th>
    <th>"Next question number"</th>
  </tr>
  <tr>
    <td><%= f.text_area :text %></td>
    <td><%= f.prev %></td>
    <td><%= f.next %></td>
  </tr>
</table>

  <div class="field">
    <%= f.label :answers_id %>
    <%= f.text_field :answers_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
