<%= form_for(content) do |f| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2>t(".errors")</h2>
      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content">
    <%= content_tag(:div, "", data: {contents: @answers}, class: "data") %>
    <div class="left">
      <div class="category">
        <%= label_tag :category %>
        <%= f.select(:category, Content.categories.keys.map {|category| [category.titleize,category]}) %>
      </div>

      <div class="follows">
        <%= f.fields_for :relationships do |builder| %>
          <div class="ans">
            <%= label_tag :ans %>
            <%= builder.collection_select(:to_content, Content.all, :id, :key, prompt: true) %>
          </div>
        <% end %>
      </div>

      <div class="topic">
        <%= label_tag :section %>
        <%= f.select(:section, Content.sections.keys.map {|section| [section.titleize,section]}) %>
      </div>

      <% if content.category == "question" %>
        <div class="score">
      <% else %>
        <div class="score hidden">
      <% end %>
        <%= label_tag :score %>
        <%= f.number_field :score, min: 0, max: 10, value: 5 %>
      </div>
    </div>

    <div class="right">
      <div class="key">
        <%= label_tag :key %>
        <%= f.text_field :key, placeholder: t(".key_placeholder") %>
      </div>

      <div class="text">
        <%= label_tag :text %>
        <%= f.text_area :text, placeholder: t(".content_placeholder") %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= link_to t("back"), contents_path, class: "left" %>
    <%= f.submit t("submit"), class: "right" %>
  </div>
<% end %>
