<%= form_for(content) do |f| %>
  <% if content.errors.any? %>
    <div class="error" id="error_explanation">
      <h2><%= t(".errors") %></h2>
      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content">
    <%= content_tag(:div, "", data: {contents: @answers}, class: "data") %>
    <div class="left">
      <div class="category">
        <%= label_tag :category %>
        <%= f.select(:category, Content.categories.keys.map {|category| [category.titleize,category]}) %>
      </div>

      <div class="follows">
        <%= label_tag :next %>
        <%= f.collection_select :next_id, @others, :id, :key %>
      </div>

      <div class="topic">
        <%= label_tag :section %>
        <%= f.select(:section, Content.sections.keys.map {|section| [section.titleize,section]}) %>
      </div>

      <div class="answers">
        <h4><%= t(".answers") %></h4>
          <!-- content.answers.each do | answer | -->
            <!-- f.fields_for :answers do |ff| -->
            <%= f.simple_fields_for :answers do |ff| %>
              <%= render 'contents/answer_fields', ff: ff %>
            <% end %>
          <!-- end -->
    </div>
    </div>

    <div class="right">
      <div class="key">
        <%= label_tag :key %>
        <%= f.text_field :key, placeholder: t(".key_placeholder") %>
      </div>

      <div class="text">
        <%= label_tag :text %>
        <%= f.text_area :text, placeholder: t(".content_placeholder") %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= link_to t("back"), contents_path, class: "left" %>
    <%= f.submit t("submit"), class: "right" %>
  </div>
<% end %>
