<div class="section">
  <h3><%= t(".questions") %></h3>
  <%= render 'contents_table', contents: @questions %>

  <h3><%= t(".explanations") %></h3>
  <%= render 'contents_table', contents: @explanations %>
</div>

<br>
<div class="actions">
  <%= link_to t(".new"), new_content_path(previous_id: -1) %>
</div>
