<div class="header">
  <h1><%= Content.model_name.plural.titleize %></h1>
</div>

<div class="section">
  <div class="col-right">
    <h3><%= t(".answers") %></h3>
    <%= render 'table', contents: @answers %>
  </div>

  <div class="col-left">
    <h3><%= t(".questions") %></h3>
     <%= render 'table', contents: @questions %>

    <h3><%= t(".explanations") %></h3>
    <%= render 'table', contents: @explanations %>
  </div>
</div>

<br>
<div class="actions">
  <%= link_to t(".new"), new_content_path %>
</div>