<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Contents</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Key</th>
      <th>Next</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.id %></td>
        <td><%= content.key %></td>
        <td><%= content.content_id %></td>
        <td>
          <%= link_to "", edit_content_path(content), class: "fa fa-edit" %>
          <%= link_to "", content, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions">
  <%= link_to 'New Content', new_content_path %>
</div>