<div class="header">
  <h2><%= @content.section.titleize %></h2>
</div>

<div class="section content">
  <label><%= @content.category.titleize %>
  <%= @content.id %></label>
  <label><%= @content.key %></label>
  <span><%= @content.text %></span>
  <% if @content.category == "question" %>
    <% @content.answers.each_with_index do | ans, index | %>
      <label><%= t(".answer", number: index+1 ) %></label>
      <span><%= ans %></span>
    <% end %>
  <% else %>
    <label><%= t(".score") %></label>
    <label><%= t(".option") %></label>
  <% end %>
</div>

<div class="actions">
  <%= link_to t("edit"), edit_content_path(@content), class: "left" %>
  <%= link_to t("back"), contents_path, class: "right" %>
</div>
