<div class="section content">
  <label><%= content.key %></label>
  <span><%= content.text.html_safe %></span>
  <% if content.category == "question" && content.next_id? %>
    <% content.answers.each_with_index do | ans, index | %>
      <% if ans.text? %>
        <%= link_to ans, content_path(content.next_id, selected: index, answers: answers) %>
      <% end %>
    <% end %>
  <% elsif content.next_id %>
    <%= link_to t(".next"), content_path(content.next_id) %>
  <% else %>
    <%= t(".end") %>
  <% end %>
</div>
