<div class="content">
  <div><%= content.text.html_safe %></div>

  <% if options && options[0].length.positive? && content.next_id %>
    <div class="options">
      <% options.each_with_index do | option, index | %>
        <% if option.length.positive? %>
          <div class="option-container">
            <%= link_to option, content_path(content.next_id, selected: index), class: "select-option" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% elsif content.next_id %>
    <%= link_to content.next, content_path(content.next_id) %>
  <% else %>
    <%= t(".end") %>
  <% end %>

  <div class="footnote">
    <%= content.footnotes %>
  </div>
</div>
