<div class="header">
  <% if current_user.present? %>
    <span class="right">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </span>
  <% else %>
    <span class="right">
      <%= link_to('Login', new_user_session_path) %>
    </span>
  <% end %>
  <span>
    <%= link_to(root_path, class: "home") do %>
      <i class="fa fa-home"></i>
    <% end %>
  </span>
  <h2 class="title"><%= t(".title") %> - <%= section %></h2>
</div>

<p id="notice" class="notice"><%= notice %></p>
