<h2><%= t(".title", user: @user.email) %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error" id="error_explanation">
      <h2><%= t(".errors") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user">
    <label><%= t(".role") %></label>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize, role]}) %>
  </div>

  <div class="actions">
    <%= f.submit t("save") %>
  </div>
<% end %>

