<div class="section">
  <%= form_for(answer) do |f| %>
    <% if answer.errors.any? %>
      <div id="error_explanation">
        <h2>Errors</h2>
        <ul>
          <% answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.text_area :text, placeholder: "Answer text" %>
    </div>

    <div>
      <%= f.number_field :score, min: 0, max: 10, value: 5 %>
    </div>

    <div class="actions">
      <%= f.submit %>
      <%= link_to 'Back', answers_path %>
    </div>
  <% end %>
</div>
