<div class="header">
  <h1>All answers</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.text %></td>
        <td><%= answer.score %></td>
        <td><%= link_to "", edit_answer_path(answer), class: "fa fa-edit" %></td>
        <td><%= link_to "", answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_answer_path %>
